@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    background-color: #222222;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin: 0;
}

main{
    max-width: 750px;
    min-width: 750px;
    margin: auto;
}

#landing{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#landing h1{
    font-size: 3.5em;
    text-transform: uppercase;
}

#begin{
    font-size: 2.5em;
    text-decoration: none;
    color: white;
    background-color: #222222;
    padding: 0.5rem 2rem;
    border: 1px #cccccc solid;
    border-radius: 10px;
    display: inline-block;
    margin: 0.5em;
}
#begin:active{
    background-color: grey;
}

